## LEFT JOIN EXAMPLE
This notebook demonstrates a simple left join. We will do so by creating two dataframes. One will contain our books while the other contains the types of books. Then we will merge them into a single table so that we have the ids of the book types and book names together. After that, we will remove redundant columsn and rename some.

Why go through all this trouble? Well this is most useful when you are dealing with data that is going to end up in a SQL Database. SQL is relational. That means, instead of repeating certain pieces of data throughout your database, you can store them in a separate table and link them to rows in other tables by a unique id. You can read up on it [here](https://en.wikipedia.org/wiki/Relational_database)

First things first. We import our pandas package

In [ ]:
import pandas as pd

Next, we create a pandas dataframe using a dictionary. This dataframe will contain the list of books we have in stock

In [ ]:
inst = pd.DataFrame({
    'Book': ['Secrets of the Bending Grove', 'Americanah', 'AI: Human Rights, Social Justice ...'],
    'Author': ['N. Maria Kwami', 'Chimamanda Ngozi Adiche', 'Article 19'],
    'Type': ['Novel', 'Novel', 'Report']
})
inst

Create another pandas data frame using the lists method. This dataframe will contain the types of books we have.

In [ ]:
types = pd.DataFrame([['1', 'Novel'], ['2', 'Report']], columns=['id', 'Name'])
types

Now perform a `left join`. If you are not conversant with left joins, they are a way to bring in data from one table to their matching rows in another table. That explains the join part. It's called `left` because the data is brought in from the table on the right to the table on the left. In the example below, `inst` is the left table while `types` is the right table. You can read up on it here [here](https://www.w3schools.com/sql/sql_join_left.asp)

In [ ]:
inst_types = pd.merge(inst, types, left_on="Type", right_on="Name")
inst_types

In some cases, especially when dealing with large data sets, there might be duplicates, Fortunately for us, we have none of that.

In [ ]:
rows = inst_types.duplicated(subset=["Book"])
inst_types[rows]