## LEFT JOIN EXAMPLE
This notebook demonstrates a simple left join. We will do so by creating two dataframes. One will contain our books while the other contains the types of books. Then we will merge them into a single table so that we have the ids of the book types and book names together. After that, we will remove redundant columns and rename some.

Why go through all this trouble? Well, this is most useful when you are dealing with data that is going to end up in a SQL Database. SQL is relational; that means, instead of repeating certain pieces of data throughout your database, you can store them in separate tables and link them by a unique id. You can read up on it [here](https://en.wikipedia.org/wiki/Relational_database)

First things first. We import our pandas package

In [1]:
import pandas as pd

Next, we create a pandas dataframe that will contain the list of books we have in stock. We can do this by using a dictionary or a list. We will use a dictionary for this dataframe.

In [2]:
books = pd.DataFrame({
    'Book': ['Secrets of the Bending Grove', 'Americanah', 'AI: Human Rights, Social Justice ...'],
    'Author': ['N. Maria Kwami', 'Chimamanda Ngozi Adiche', 'Article 19'],
    'Type': ['Novel', 'Novel', 'Report']
})
books

                                   Book                   Author    Type
0          Secrets of the Bending Grove           N. Maria Kwami   Novel
1                            Americanah  Chimamanda Ngozi Adiche   Novel
2  AI: Human Rights, Social Justice ...               Article 19  Report

Create another pandas data frame that will contain the types of books we have. This time, we will use the list method

In [3]:
types = pd.DataFrame([['1', 'Novel'], ['2', 'Report']], columns=['id', 'Name'])
types

  id    Name
0  1   Novel
1  2  Report

Now perform a `left join`. If you are not conversant with left joins, they are a way to merge two tables. It's called `left` because the data is brought in from the table on the right to the table on the left. In the example below, `books` is the left table while `types` is the right table. You can read up on it here [here](https://www.w3schools.com/sql/sql_join_left.asp)

In [4]:
books_types = pd.merge(books, types, left_on="Type", right_on="Name")
books_types

,Book,Author,Type,id,Name
0,Secrets of the Bending Grove,N. Maria Kwami,Novel,1,Novel
1,Americanah,Chimamanda Ngozi Adiche,Novel,1,Novel
2,"AI: Human Rights, Social Justice ...",Article 19,Report,2,Report

In some cases, especially when dealing with large data sets, there might be duplicates, Fortunately for us, we have none of that.

In [5]:
rows = books_types.duplicated(subset=["Book"])
books_types[rows]

Empty DataFrame
Columns: [Book, Author, Type, id, Name]
Index: []

A quick glance at the the `books_types` dataframe will show that we do not need the `Type` and `Name` columms anymore, because we have the `id` of the book types. If we wanted to know the type, we could find it by looking up the `id` in the `types` dataframe.

We therefore drop the `Type` and `Name` columns

In [6]:
books_types = books_types.drop(['Type', 'Name'], axis=1)
books_types

                                   Book                   Author id
0          Secrets of the Bending Grove           N. Maria Kwami  1
1                            Americanah  Chimamanda Ngozi Adiche  1
2  AI: Human Rights, Social Justice ...               Article 19  2

Lastly, we don't want to be ambiguous in our naming. The `id` column is the `type id` and not the `id` of that row. So we use the code below to rename that column.

In [7]:
books_types.rename(columns={'id': 'Type Id'}, inplace=True)
books_types

                                   Book                   Author Type Id
0          Secrets of the Bending Grove           N. Maria Kwami       1
1                            Americanah  Chimamanda Ngozi Adiche       1
2  AI: Human Rights, Social Justice ...               Article 19       2

That's it! I hope you had as much fun as I did writing this :)